.box {width:90px;
     height: 70px;
     display:block;
     font-family:Arial, Helvetica, sans-serif;
     color:white;
     font-size: 18px;
     font-weight: bold;
     text-align: center;
     margin:10px 25px auto 900px;
     align-content: center;
     justify-content: center;
     padding: auto;}
  
.green {background-color:green;}

.red {background-color:red;}

.orange {background-color:orange;}

#start {background-color:blue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        color:white;
        text-align:center;
        border-radius:18px;}

#pause {background-color:brown;
       font-family:Arial, Helvetica, sans-serif;
       font-size:medium;
       color:black;
       text-align:center;
       border-radius:25px;
       }